---
import Layout from '../../layouts/Layout.astro'
import PageLayout from '../../layouts/PageLayout.astro'
import Space from '../../components/Space/Space'
---

<Layout title="Text Colors">
  <PageLayout />
  <main>
    <div class="flex flex-col justify-center items-center w-screen min-h-screen">
      <Space />
    </div>
  </main>
</Layout>

<style></style>
